html
  head
    meta(name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=8.0,width=device-width,user-scalable=yes")
    title= title
    link(rel='stylesheet', href='/stylesheets/slideshow.css')
  body
    img.mainImage.topImage(src=`/images/kiosk${image}-image.webp`)
    img.mainImage.bottomImage.blur(src=`/images/kiosk${image}-image.webp`)
    img.mainImage.bottomImage(src=`/images/kiosk${image}-image.webp`)
    div.text.datetime
      div.time
      div.date
    div.text.weather(style='display: none')
      div.temp
      div.desc
        span.desctext
        img.icon
    div.text.localweather(style='display: none')
      div.temp
      div.desc
        span.desctext
        img.icon
    div.overlay.hide
    div.pixel.top-left.hide
    div.pixel.top-right.hide
    div.pixel.bottom-left.hide
    div.pixel.bottom-right.hide
    script(src='/scripts/slideshow.js')