extends _layout

block navigation
  div.d-inline-block.mr-auto.ml-auto
  div.d-inline-block
    input(type='checkbox' data-toggle='toggle' data-size='small' data-on='Unseen' data-off='All' name='ShowUnseenOnly', data-offstyle='success', data-onstyle='info')
    button.btn#mainMenuItem
      i.material-icons menu

block content
  script.
    const picturereaderdata = !{JSON.stringify(data)}
  div.container-fluid.p-0#mainImage
    img(src='' style='display: none;')
  div.container.bg-dark#mainMenu(style='display: none;')
    div
      ul.nav.nav-tabs.bg-dark(role="tablist")
        li.nav-item
          a.nav-link#navigation-tab(data-toggle="tab" href="#actions" role="tab") Actions
        li.nav-item
          a.nav-link#navigation-tab(data-toggle="tab" href="#navigation" role="tab") Folders
        li.nav-item
          a.nav-link#pictures-tab(data-toggle="tab" href="#pictures" role="tab") Pictures
        li.nav-item
          a.nav-link#pictures-tab(data-toggle="tab" href="#bookmarks" role="tab") Bookmarks
    div.menu-block
      div.tab-content
        mixin actionSection
          - 
            const actionRows = [
              [
                {
                  name: 'First',
                  image: 'skip_previous'
                }, {
                  name: 'Previous Image',
                  image: 'fast_rewind'
                }, {
                  name: 'Random',
                  image: 'shuffle'
                }, {
                  name: 'Bookmark',
                  image: 'bookmarks'
                }, {
                  name: 'Next Image',
                  image: 'fast_forward'
                }, {
                  name: 'Last',
                  image: 'skip_next'
                }
              ], [
                {
                  name: 'Previous Folder',
                  image: 'first_page'
                }, {
                  name: 'Previous Unseen',
                  image: 'chevron_left'
                }, {
                  name: 'View Full Size',
                  image: 'open_in_new'
                }, {
                  name: 'Next Unseen',
                  image: 'chevron_right'
                }, {
                  name: 'Next Folder',
                  image: 'last_page'
                }
              ], [
                {
                  name: 'Mark All Seen',
                  image: 'check_box'
                }, {
                  name: 'Fullscreen',
                  image: 'fullscreen'
                }, {
                  name: 'Parent Folder',
                  image: 'folder'
                }, {
                  name: 'Slideshow',
                  image: 'slideshow'
                }, {
                  name: 'Mark All Unseen',
                  image: 'check_box_outline_blank'
                }
              ]
            ]
          each actionRow in actionRows
            div.d-flex.justify-content-center.actions 
              each action in actionRow
                div.card.d-inline-block.m-2.action-button(data-action=`${action.name.replace(/\s+/g, '').split('').map((o, i)=> i === 0 ? o.toLowerCase() : o).join('')}`)
                  div.card-img-top
                    i.material-icons= action.image
                  div.card-body
                    h5.card-title.text-center= action.name
        
        div.tab-pane.action-block#actions(role="tabpanel")
          +actionSection
        div.tab-pane.active.action-block#navigation(role="tabpanel")
          +actionSection
          div#folders
            if data.children.length > 0
              h3 Folders
              mixin folderCard(folder)
                div.card.d-inline-block.m-2
                  - const navLink = `/show${folder.path}`
                  a(class=`${folder.totalSeen === folder.totalCount ? 'text-success' : 'text-primary'}` href=navLink)
                    if folder.cover
                      img.card-img-top(src=`/images/preview${folder.cover}` alt=folder.name)
                    else
                      div.card-img-top
                        i.material-icons folder
                  div.card-body
                    h5.card-title
                      a(class=`${folder.totalSeen === folder.totalCount ? 'text-success' : 'text-primary'}` href=navLink)= folder.name
                    div.progress
                      - const text = `${folder.totalSeen}/${folder.totalCount}`
                      - const percent = folder.totalSeen / folder.totalCount * 100
                      div(class=`progress-bar ${folder.totalSeen === folder.totalCount ? 'bg-success' : ''}` role="progressbar" style=`width: ${percent}%` aria-valuenow=`${percent}` aria-valuemin="0" aria-valuemax="100")= text
              if data.children.filter(c => c.totalSeen < c.totalCount).length > 0
                h4 
                  i.material-icons folder
                  span Incomplete
                each folder in data.children.filter(c => c.totalSeen < c.totalCount)
                  +folderCard(folder)
              if data.children.filter(c => c.totalSeen === c.totalCount).length > 0
                h4
                  i.material-icons folder
                  span Complete
                each folder in data.children.filter(c => c.totalSeen === c.totalCount)
                  +folderCard(folder)
        div.tab-pane.action-block#pictures(role="tabpanel")
          +actionSection
          h3 Pictures
          if data.pictures.totalPages > 1
            nav#pictures-nav(aria-label='Pictures' data-pagesize=data.pictures.pageSize data-pages=data.pictures.totalPages)
              ul.pagination.d-flexd.flex-wrap.justify-content-center
                li.page-item(data-page='prev')
                  a.page-link(href='#' aria-label='Previous')
                    span(aria-hidden='true') &laquo;
                each _, i in data.pictures.pages
                  li.page-item(data-page=(i + 1))
                    a.page-link.active(href='#')= (i + 1)
                li.page-item(data-page='next')
                  a.page-link(href='#' aria-label='Next')
                    span(aria-hidden='true') &raquo;
          div.d-fled.flex-wrap.justify-content-center.w-100
            each pictures, page in data.pictures.pages
              div.page(data-page=(page + 1) style="display: none;")
                each picture in pictures
                  div(class=`card d-inline-block m-2 picture ${picture.seen ? 'text-success' : 'text-primary'}` data-index=picture.index)
                    img.card-img-top(data-src=`/images/preview${picture.path}` alt=picture.name)
                    div.card-body
                      h5.card-title
                        span 
                          i.material-icons photo
                        span= picture.name
        div.tab-pane.action-block#bookmarks(role="tabpanel")
          +actionSection
          mixin bookmarkCard(mark)
            div(class='card d-inline-block m-2 bookmark', data-path=mark.path, data-folder=mark.folder)
              img.card-img-top(src=`/images/preview${mark.path}` alt=mark.name)
              div.card-body
                h5.card-title
                  div
                    span 
                      i.material-icons photo
                    span= mark.name
                  div
                    button(type='button', class='btn btn-danger remove', data-path=mark.path) Remove

          h3 Bookmarks
            h4 Current
              div.d-fled.flex-wrap.justify-content-center.w-100
              each mark in bookmarks.current
                +bookmarkCard(mark)
            h4 Children
              each folder in bookmarks.children
                h5= folder.folder
                  div.d-fled.flex-wrap.justify-content-center.w-100
                    each mark in folder.marks
                      +bookmarkCard(mark)
            h4 Others
              each folder in bookmarks.others
                h5= folder.folder
                  div.d-fled.flex-wrap.justify-content-center.w-100
                    each mark in folder.marks
                      +bookmarkCard(mark)
  div.fixed-bottom.text-center.status-bar.text-border.text
    span.float-left.left  
    span.center 
    span.float-right.right 
  div#loadingScreen(style="display:none")
    div.centerblock
      div 
        svg.lds-spinner(width="100px" height="100px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid")
          g(transform="rotate(0 50 50)")
            rect(x="47" y="24" rx="9.4" ry="4.8" width="6" height="12" fill="#0b1d27")
              animate(attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.9166666666666666s" repeatCount="indefinite")
          g(transform="rotate(30 50 50)")
            rect(x="47" y="24" rx="9.4" ry="4.8" width="6" height="12" fill="#0b1d27")
              animate(attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.8333333333333334s" repeatCount="indefinite")
          g(transform="rotate(60 50 50)")
            rect(x="47" y="24" rx="9.4" ry="4.8" width="6" height="12" fill="#0b1d27")
              animate(attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.75s" repeatCount="indefinite")
          g(transform="rotate(90 50 50)")
            rect(x="47" y="24" rx="9.4" ry="4.8" width="6" height="12" fill="#0b1d27")
              animate(attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.6666666666666666s" repeatCount="indefinite")
          g(transform="rotate(120 50 50)")
            rect(x="47" y="24" rx="9.4" ry="4.8" width="6" height="12" fill="#0b1d27")
              animate(attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.5833333333333334s" repeatCount="indefinite")
          g(transform="rotate(150 50 50)")
            rect(x="47" y="24" rx="9.4" ry="4.8" width="6" height="12" fill="#0b1d27")
              animate(attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.5s" repeatCount="indefinite")
          g(transform="rotate(180 50 50)")
            rect(x="47" y="24" rx="9.4" ry="4.8" width="6" height="12" fill="#0b1d27")
              animate(attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.4166666666666667s" repeatCount="indefinite")
          g(transform="rotate(210 50 50)")
            rect(x="47" y="24" rx="9.4" ry="4.8" width="6" height="12" fill="#0b1d27")
              animate(attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.3333333333333333s" repeatCount="indefinite")
          g(transform="rotate(240 50 50)")
            rect(x="47" y="24" rx="9.4" ry="4.8" width="6" height="12" fill="#0b1d27")
              animate(attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.25s" repeatCount="indefinite")
          g(transform="rotate(270 50 50)")
            rect(x="47" y="24" rx="9.4" ry="4.8" width="6" height="12" fill="#0b1d27")
              animate(attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.16666666666666666s" repeatCount="indefinite")
          g(transform="rotate(300 50 50)")
            rect(x="47" y="24" rx="9.4" ry="4.8" width="6" height="12" fill="#0b1d27")
              animate(attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.08333333333333333s" repeatCount="indefinite")
          g(transform="rotate(330 50 50)")
            rect(x="47" y="24" rx="9.4" ry="4.8" width="6" height="12" fill="#0b1d27")
              animate(attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="0s" repeatCount="indefinite")
        h4 LOADING...
  script(src='/scripts/index.js')